<div class="form">
    <h2 class="edit-title">商品の情報を入力</h2>
    <div class="form-input">
      <input class="item-name" placeholder="商品名">
      <input class="item-text" placeholder="追加メモ">
    </div> 
    <input class="form-submit" type="submit" value="追加">
</div>
