<div class="memos">
  <% @memos.each do |memo| %>
    <div class="memo">
      <div class="memo-item"><%= memo.item %></div>
      <div class="memo-text"><%= memo.text %></div>
    </div>
  <% end %>
</div>